{% extends "base.html" %}
{% block title %}COW Plus Online | Home{% endblock %}
{% block linkindex %}class = "active"{% endblock %}
{% block content %}
<div id = "guides">
	<h3>Using the <b>Data</b> Page</h3>
    <ol>
        <li>Wait for the variable table to load. If you have uploaded many datasets, you may wait for some time, as the loading time is correlated with the number of variables.</li>
        <li>Select the variables you want to observe, and click “Create.” Wait for the data table to generate. The process begins when the “Create” button is grayed out and may take some time depending on how many variables you have chosen and how many datasets you have chosen variables from.</li>
        <li>If your variables were from a dyadic dataset, you will be given the option to add variables from monadic datasets. This will create a dataset that has the dyadic data and monadic data for both countries in a given dyad. Similarly, generating the data table again may take some time depending on how many variables from monadic datasets you have chosen and how many monadic datasets you have chosen variables from.</li>
        <li>You can download the dataset by clicking the “Download” button.</li>
    </ol>
	<h3>Using the <b>Upload</b> Page</h3>
    <ol>
        <li>The upload function only accepts “.csv” files. Please make sure that your datasets have the following variables. If you do not have these variables, an alert will show up and your file will not pass verification for uploading.</li>
            <ol type="a">
                <li>For monadic datasets: stateabb, ccode, year</li>
                <li>For dyadic datasets: stateabb1, ccode1, stateabb2, ccode2, year</li>
            </ol>
        <li>After your file has passed verification, simply click “Upload.” Both buttons will be grayed out, indicating that the upload process has begun.</li>
        <li>When you return to the “Data” page, you may notice that the variable table takes a longer time to generate. This is because the variable table’s generation speed is dependent on the number of variables across all preloaded datasets as well as all of your uploaded datasets. To minimize the speed difference, it would be best to upload your datasets with only the variables that you would like to add to your “Data” page, as there is not yet a way for you to delete datasets (please be patient with us as we develop this feature).</li>
            <ol type="a">
                <li>You may want to create another account if you feel that the variables table on the <b>Data</b> page takes too long.</li>
            </ol>
    </ol>
</div>
{% endblock %}