{% extends "base.html" %}
{% block title %}COW Plus Online | Home{% endblock %}
{% block linkindex %}class = "active"{% endblock %}
{% block content %}
<div id = "priv_policy">
	<h3>Privacy Policy</h3>
    <p>Information we collect:</p>
    <ul>
        <li>Your username</li>
        <li>Your email</li>
        <li>Any datasets you upload</li>
    </ul>
    <p>Your password is hashed in our system, which means that we will not be able to see your password at all. </p>
    <p>Your datasets are not encrypted, and we are able to see your datasets. This is a security measure that we are currently working to implement though. </p>
    
    <p>Your account information is used to log you in as well as for email verification purposes. Datasets you upload will be used to generate the variable tables that you see in the Data page of the web application as well as to merge with any other datasets you would like to use.
    </p>
    <p>We will not sell or share your data to any third party. We have appropriate organizational safeguards and security measures in place to protect your Personal Data from being accidentally lost, used or accessed in an unauthorized way, altered or disclosed. The communication between your browser and our website uses a secure encrypted connection wherever your Personal Data is involved. In the unfortunate event of a Personal Data breach, we will notify you and any applicable regulator when we are legally required to do so.
    </p>
</div>
{% endblock %}