<html lang="en">
<head>
    <title>COW Plus Online</title>
    <meta charset="utf-8" />
    <meta name="description" content="COW Plus Online data manager is an online platform for managing data related to international relations, primarily international conflict. If you are conducting research on war or international security, this platform will help you create a comprehensive and easily manipulable dataset for quantitative analysis.">
    <meta name="keywords" content="COW Plus Online, Professor Poast COW Plus Online, data management software ir, correlates of war, international relations data">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='SlickGrid-2.4.44/slick.grid.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='SlickGrid-2.4.44/css/smoothness/jquery-ui.css') }}" type="text/css"/>

		<!-- <link rel="stylesheet" href="SlickGrid-2.4.44/css/smoothness/jquery-ui.css" type="text/css"/> -->
		<link rel="canonical" href= "https://www.geeksforgeeks.org/creating-progress-bar-using-javascript/" />
		<link rel="canonical" href= "https://www.encodedna.com/javascript/populate-json-data-to-html-table-using-javascript.htm" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="{{ url_for('static', filename='SlickGrid-2.4.44/examples/examples.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='SlickGrid-2.4.44/css/plugins-common.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='SlickGrid-2.4.44/css/plugins-gdoc-style.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <style>
        .centered-layout {
            margin: 0 auto;
            max-width: 1200px;
        }
        .header-center {
            text-align: center;
            margin-top: 20px;
        }
        .drop-area {
            border: 2px dashed #ccc;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
        }
        .drop-area.dragging {
            background-color: #f0f0f0;
            border-color: #00bfff;
        }
        #file-list {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }
        #metadata-container > div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/lib/jquery.event.drag-2.3.0.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.core.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.grid.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.dataview.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.editors.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.formatters.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/slick.rowselectionmodel.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/slick.cellrangeselector.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/slick.cellselectionmodel.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/slick.cellrangedecorator.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/ext.headerfilter.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/plugins/slick.checkboxselectcolumn.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/slick.groupitemmetadataprovider.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/controls/slick.pager.js') }}"></script>
    <script src="{{ url_for('static', filename='SlickGrid-2.4.44/controls/slick.columnpicker.js') }}"></script>
    <div id="page-container" class="centered-layout">
        <header>
            <h1 class="header-center">COW Plus Online (Beta)</h1>
            <br>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="dataUnlimVar.html">Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="download.html">Downloads</a></li>
                        <li class="nav-item"><a class="nav-link" href="upload.html">Upload</a></li>
                        <li class="nav-item"><a class="nav-link" href="shared.html">Shared</a></li>
                        <li class="nav-item"><a class="nav-link" href="guides.html">Guides and FAQ</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if 'user' in session %}
                            <li class="nav-item"><a class="nav-link" href="/user">{{ session['user']}}</a></li>
                        {% endif %}
                        <li class="nav-item">
                            {% if 'user' in session %}
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="upload" style="padding-top:20px">
            <form action="" id="uploadForm" method="post" enctype="multipart/form-data">
                <div id="drop-area" class="drop-area">
                    <p>Drag & Drop your files here or click to upload</p>
                    <input type="file" id="file-input" name="file" oninput="triggerValidationUpload(this)" accept=".csv" hidden/>
                </div>
                <ul id="file-list"></ul>
                <div id="metadata-container" style="display: none;">
                    <div>
                        <label for="citation">Manual citation (Chicago):</label>
                        <br>
                        <textarea id="citation" name="citation" rows="4" cols="50" required></textarea>
                    </div>
                </div>
                <button id="verifyFile" type="button">Verify</button>
                <button id="uploadButton" type="submit">Upload</button>
                <p id="processing_upload" style="padding:0px; margin: 0px;display:none; font-family:Arial, Helvetica, sans-serif;font-size:13.33333px;">processing...</p>
            </form>
        </div>
        <footer id="footer" class="text-center py-4">
            <p>&copy; <script>document.write(new Date().getFullYear());</script> COW Plus Online</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Home</a></li>
                <li class="list-inline-item"><a href="dataUnlimVar.html">Data</a></li>
                <li class="list-inline-item"><a href="download.html">Downloads</a></li>
                <li class="list-inline-item"><a href="upload.html">Upload</a></li>
                <li class="list-inline-item"><a href="shared.html">Shared</a></li>
                <li class="list-inline-item"><a href="guides.html">Guides and FAQ</a></li>
                <li class="list-inline-item"><a href="sources.html">Sources</a></li>
                <li class="list-inline-item"><a href="mailto:paulpoast@uchicago.edu">Contact</a></li>
            </ul>
        </footer>
    </div>

    <script>
        const dropArea = document.getElementById('drop-area');
        const fileInput = document.getElementById('file-input');
        const fileList = document.getElementById('file-list');
        const metadataContainer = document.getElementById('metadata-container');
        const uploadButton = document.getElementById('uploadButton');

        dropArea.addEventListener('click', () => fileInput.click());

        dropArea.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropArea.classList.add('dragging');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('dragging');
        });

        dropArea.addEventListener('drop', (event) => {
            event.preventDefault();
            dropArea.classList.remove('dragging');

            // Get the dropped files
            const files = event.dataTransfer.files;
            handleFiles(files);
        });

        function handleFiles(files) {
            // Add files to the input element's files property
            const dataTransfer = new DataTransfer();
            for (const file of files) {
                dataTransfer.items.add(file);
            }
            fileInput.files = dataTransfer.files;

            // Clear previous file list
            fileList.innerHTML = '';
            // Display file names
            for (const file of files) {
                const listItem = document.createElement('li');
                listItem.textContent = file.name;
                fileList.appendChild(listItem);
            }

            // Show the metadata input and upload button
            metadataContainer.style.display = 'block';
        }

        fileInput.addEventListener('change', () => {
            handleFiles(fileInput.files);
        });
    </script>
</body>
</html>
