{% extends "base.html" %}
{% block title %}COW Plus | User Info{% endblock %}
{% block content %}
<style>
	/* Basic styling for the container and bar */
	.progress-container {
		width: 100%; /* Full width of the container */
		background-color: #e0e0e0; /* Light grey background */
		border-radius: 5px; /* Rounded corners */
		overflow: hidden; /* Clip contents that overflow */
	}

	.progress-bar {
		height: 20px; /* Height of the bar */
		background-color: #76c7c0; /* Bar color */
		width: 0%; /* Initial width */
		transition: width 0.5s ease; /* Animation for smooth transition */
	}
</style>
<form action="#" method="POST">
	<p>Change Email:</p>
	<input autocomplete="off" type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
	<br>
	<input type="submit" value="Save"/>
</form>
<br>

{% if file_contents %}
	<h3>Uploaded/Imported files ({{ current_size }}/1GB):</h3>
	
{% else %}
	<h4>(Uploaded files will appear here)</h4>
{% endif %}
<div class="progress-container">
	<div class="progress-bar" style="width: {{ percent_full }}%;"></div>
</div>
<br>
{% for file_data in file_contents %}
	<div>
		<h4>{{ file_data.filename }}:</h4>
		<form action="/uploaded_delete" method="post" style="display:inline;">
			<input type="hidden" name="filename" value="{{ file_data.filename }}">
			<button type="submit">Delete</button>
		</form>
		<form action="/uploaded_download" method="post" style="display:inline;">
			<input type="hidden" name="filename" value="{{ file_data.filename }}">
			<button type="submit">Download</button>
		</form>
		<form action="/uploaded_preview" method="post" style="display:inline;">
			<input type="hidden" name="filename" value="{{ file_data.filename }}">
			<button type="submit">Preview</button>
		</form>
	</div>
	<br>
{% endfor %}
{% endblock %}
