body, nav {margin:0px;
	display: block;	
}

#myTable{
	margin-left:20px;
	margin-bottom:20px;
	margin-top: 20px;
	margin-right:20px;
	display: none;
}

#divNMC_5_0SecondStep, #divWRP_NATSecondStep, #divMajor_PowersSecondStep{
	display:none;
	padding-left:20px;
}
#countryYearData, #dyadicData{
	display:none;
	padding-left:40px;
}
#divNMC_5_0_Table, #divWRP_NAT_Table, #divMajor_PowersTable, #divDirectContiguityTable, #divCOWDiplomaticExchangeTable, #divCOWTradeTable, #divMidDataTable, #divCOWAllianceDataTable, #divCOWIGODataTable, #divNMC_5_0_TableSecondStep, #divWRP_NAT_TableSecondStep, #divMajor_PowersTableSecondStep{
	display:none;
	padding-left:20px;
	padding-right:20px;
	overflow:scroll;
	width: 50%;
	height:200px;
	overflow-x:auto;
	margin-top: 5px;
	margin-bottom:20px;
}
h1 {text-align: center}
h4 {margin:0px}
p, nav {font-size: 17px;
  }

.tooltip-container {
	position: relative;
	display: inline-block;
}
  
.tooltip-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #333333;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	margin-right: 5px;
}
  
.tooltip-text {
	visibility: hidden;
	position: absolute;
	background-color: #333333;
	color: #ffffff;
	padding: 6px;
	font-size: 14px;
	width: 200px;
	top: 0;
	left: 100%;
	margin-left: 5px;
}
  
.tooltip-container:hover .tooltip-text {
	visibility: visible;
}
  

.variableTables table, .variableTables th, .variableTables td {
	border: 1px solid black;
	border-collapse:collapse;
}
.variableTables th, .variableTables td{
	padding-right:20px;
}
body {
	background-color: #ffffff;
}
header{
	padding-left:0px;
}

.topnav {
	overflow: hidden;
	background-color: lightgrey;
	width: 100%;
	text-align: center;
	}
.topnav a {
	float: middle;
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
.topnav a:hover {
	background-color: white;
	color: black;
	}
.topnav a.active {
	background-color: black;
	color: white;
	}	
.headerone {
	float: center;
	display:block;
	text-align: center;
	background-color: white;
	color: black;
	margin: 0px;
	height: 50px;
	padding: 30px;
	}
thead{
	position: absolute;
}

#showData, #showDataSecondStep{
	overflow-x:auto;
	overflow:scroll;
	height:300px;
}

body{
	width:100%;
}
#page-container{
	position: relative;
	min-height: 100vh;
	width: 100%;
}

#main{
	padding-bottom: 100px;
}
#footer {
  height: 100px;
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  margin:0;
}

h4{
	font-size:20px;
}
h4.cow-plus-footer {
	padding-top:20px;
	text-align:center;
	font-family:arial;
}

p.cow-plus-footer, li.cow-plus-footer{
	text-align:center;
	font-family:arial;
	font-size:0.900rem;
	font-weight:500px;
	padding-left:0px;
	margin-left:0px;
}

.cow-plus-footer{
	padding-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

li.cow-plus-footer{
	display:inline-block;
	font-size: 0.875rem;
    font-weight: 600;
    text-decoration: underline;
	font-family:arial;
	font-style:normal;
	
}

.cow-plus-footer ul>li::after {
	padding-left:0.375em;
    display: inline-block;
    font-size: 0.75em;
    content: '|';
	color: black;
}

.cow-plus-footer ul>li:last-of-type::after {
    content: '';
}
ul.cow-plus-footer{
	position:relative;
	text-align:center;
	list-style:none;
}

#intro p{
	padding-left:20px;
	padding-right:20px;
}

.cow-plus-footer a:visited{
	color:blue;
}

.download-buttons a:visited{
	color:black;
}

.download-buttons{
	background-color: grey;
	border: 1px solid black;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width:110px;
	font-size: 16px;
	cursor: pointer;
	margin: 10px 20px;
	border-radius:12px;
}

#downloadButtons{
	text-align:center;
}